---
layout: base.njk
subscriberCount: 
pastIssuesLink: issues
vote: vote
---

<div class="w-full p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
  <div class=" m-0  p-0 mb-10 text-9xl font-black antialiased  text-center">Creator Economy.</div>
  <div class=" m-5  p-5 w-full bg-gray-200  text-2xl  antialiased  text-center">Become a content creation expert, escape the 9-to-5 🕒, monetize your work 💵 and live freely. 🌎</div>
  <div class="flex w-full justify-center">
    <div class=" mt-3 w-6/12 flex justify-center">
      {% include "emailoctopus.njk" %}
    </div>
  </div>
  <div class="flex w-full justify-center">
    {% if subscriberCount %}
      <div>Join {{subscriberCount}} readers</div>  
    {% endif %}
  </div>
  <div class="flex w-full justify-center mt-5 text-2xl">
    {% if pastIssuesLink and vote %}
      <p>Read past <a href="{{pastIssuesLink}}" class="underline text-red-600">issues</a>/<a href="{{vote}}" class="underline text-red-600">vote</a> on the topic of the next issue.<p>
    {% elif pastIssuesLink %}
      <p>Read past <a href="{{pastIssuesLink}}" class="underline text-red-600">issues</a></p>
    {% elif vote %}
      <p><a href="{{advertiseLink}}" class="underline text-red-600">Vote</a> on the topic of the next issue.</p>
    {% endif %}
  </div>
</div>