---
layout: base.njk
---

<div class="w-full h-full p-10 py-20 flex flex-col flex-wrap justify-center content-center">
    <div class="m-0 p-0 mb-10 text-9xl font-black antialiased text-center">Archive</div>
        <button class="flex justify-center content-center w-1/6 p-4 text-3xl bg-gray-700 text-white rounded-lg" type="button">Subscribe</button>
        <div class="flex flex-col mt-10  text-xl">
            <ul>
                #1 Past Issue
            </ul> 
            <ul>
                #1 Past Issue
            </ul> 
        </div>
    </div>
</div>

