---
layout: base.njk
release_date: 4/16/2021
---

<div class="w-full h-full p-10 py-20 flex flex-col flex-wrap justify-center content-center">
    <div class="m-0 p-0 mb-10 text-9xl font-black antialiased text-center">Vote</div>
    <div class="m-0 p-0 mb-10 text-xl antialiased text-center">The following topic vote is for the {{release_date}} issue.</div>
        <div class="flex flex-col items-center justify-center h-screen">
        </div>
    </div>
</div>
